aiohttp<4
aiohttp-asgi
async-generator
async-timeout
coverage==4.5.1
coveralls
croniter~=0.3.34
fastapi
mypy~=0.782
pylava
pytest
pytest-cov~=2.5.1
sphinx
sphinx-autobuild
sphinx-intl
timeout-decorator
tox>=2.4
