aiocontextvars==0.2.2
aiohttp-asgi
aiohttp<4
async-timeout
coverage==4.5.1
coveralls
croniter~=0.3.34
fastapi
freezegun<1.1
mypy~=0.782
pylava
pytest
pytest-cov~=2.5.1
pytest-freezegun~=0.4.2
pytest-rst
rich
sphinx-autobuild
sphinx-intl
sphinx>=3.5.1
timeout-decorator
tox>=2.4
types-croniter
