aiocontextvars==0.2.2
aiohttp-asgi
aiohttp<4
async-timeout
coveralls
croniter~=0.3.34
fastapi
freezegun<1.1
mypy==0.950
pylava
pytest
pytest-cov~=3.0
pytest-freezegun~=0.4.2
pytest-rst>=0.0.7
pytest-subtests
raven-aiohttp
rich
setproctitle
sphinx-autobuild
sphinx-intl
sphinx>=3.5.1
timeout-decorator
tox>=2.4
types-croniter
